html, body, #root, #root>div {
  height: 100%;
  width: 100%;
}

/* .App: the entire app; made up of .app-header and .app-body */
.App {
  display: flex;
  flex-direction: column;
}

/* .app-header: Header with the app's title and description */
.app-header {
  background-color: lightblue;
}
.app-header .title {
  font-size: 2rem;
}
.app-header .description {
  font-size: 1.5rem;
}

/* .app-body: Everything below header */
.app-body {
  width: 100%;
  display: flex;
}
.app-body>div {
  height: 100%;
}

/* .sidebar: List of items for navigation */
.sidebar {
}
/* .content: The main content of the page; either shows recipe or pantry info  */
.content {
}

/* .recipe.content: The content of the page when showing a recipe */
.recipe.content {
  background-color: blanchedalmond;
}
/* .recipe .heading: The text for the name of a recipe */
.recipe .heading {
  font-size: 2.5rem;
}
/* .recipe .subheading: The text for Ingredients and Directions */
.recipe .subheading {
  font-size: 1.5rem;
}

/* .pantry.content The content of the page when showing a pantry item */
.pantry.content {
  background-color: mistyrose;
}
.pantry .heading {
  font-size: 3rem;
}
