html, body, #root, #root>div {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f9f9f9;
  font-family: monospace;
}

button, input {
  font-family: monospace !important;
}

/* .App: the entire app; made up of .app-header and .app-body */
.App {
  display: flex;
  flex-direction: column;
}

/* .app-header: Header with the app's title and, if applicable, the mobile view toggle */
.app-header {
  padding: 3rem 2rem;
  display: flex;
  font-size: 2.25rem;
  font-weight: 100 !important;
  cursor: default;
  justify-content: space-between;
}
/* .app-header .header-title: Title text and app content (Recipe/Pantry) toggle */
.app-header .header-title {
  display: flex;
  align-self: start;
}
/* .plus-sign: The plus sign text between Recipe and Pantry */
.header-title>.plus-sign {
  padding: 0 1rem;
  transition: 0.15s;
  color: #de8c8c;
}
/* .header-title .button: The (Recipe/Pantry) toggle button */
.header-title .button {
  cursor: pointer;
  box-shadow: inset 0 -3px white, inset 0 -4px #de8c8c;
  transition: 0.15s;
  color: #de8c8c;
}
.header-title .button:hover {
  box-shadow: inset 0 -3px white, inset 0 -4px grey;
  color: grey;
}
/* .recipe.button: Button to view recipes */
.header-title .recipe.button {
  text-shadow: 1px 1px white, 2px 1px white, -1px 1px white, -2px 1px white;
}
/* .pantry.button: Button to view pantry */
.header-title .pantry.button {
  text-shadow: 3px -1px white, -2px -1px white, -2px -2px white, 0px -1px white;
}
/* .app-header .mobile-toggle: Button to toggle viewing sidebar or main content */
.app-header .mobile-toggle {
  display: none !important;
  align-items: center;
}
/* .app-header .mobile-toggle .mobile-toggle-text: Text/icon inside the toggle button */
.app-header .mobile-toggle .mobile-toggle-text {
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid grey;
  color: grey;
}
/* .app-header .mobile-toggle.secondary: Secondary styling of the button to distinguish the toggle views */
.app-header .mobile-toggle.secondary .mobile-toggle-text {
  background-color: grey;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
}
/* .mobile-toggle (Mobile): only display the mobile toggle button in mobile */
@media (max-width: 600px) {
  .app-header .mobile-toggle {
    display: flex !important;
  }
}

/* .app-body: Everything below header */
.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 0 2rem 2rem 2rem;
}
/* .message: The text that shows when no options have been selected for the content to display */
.app-body .message {
  font-size: 1.5rem;
  font-weight: 100;
  padding-top: 0.5rem;
  color: grey;
}
/* .message (Mobile): Message should be hidden if mobile view and toggling to view sidebar*/
@media (max-width: 600px) {
  .mobile-hidden.message {
    display: none !important;
  }
}

/* .sidebar: List of items for navigation */
.sidebar {
  overflow-y: scroll;
  display: block;
}
/* .sidebar (Mobile): Sidebar should take up whole screen width if mobile view */
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
/* .mobile-hidden.sidebar: The sidebar has been toggled to be hidden in mobile; this is the default state */
@media (max-width: 600px) {
  .mobile-hidden.sidebar {
    display: none !important;
  }
}
/* .sidebar .category-list: The list of categories in nav */
.sidebar .category-list {
  padding-inline-start: 0;
}
/* .sidebar .category-item: The category list's items, i.e. the category names */
.sidebar .category-item {
  list-style: none;
  color: grey;
  cursor: default;
}
/* .sidebar .category-item>div: The text of the category names */
.sidebar .category-item>div {
  text-transform: uppercase;
}
/* .sidebar .sub-list: The list of actual nav items */
.sidebar .sub-list {
  padding-inline-start: 20px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  color: #de8c8c;
  transition: 0.2s;
}
/* .sidebar .sub-list-item>div: The text of the nav items */
.sidebar .sub-list-item>div {
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 0.25rem;
}
.sidebar .sub-list-item:hover {
  color: grey;
  text-decoration: underline;
}
/* .sidebar .selected.sub-list-item>div: The current nav item we are on  */
.sidebar .selected.sub-list-item {
  color: #4e4e4e;
  transition: 0.135s;
  font-weight: 600;
}

/* .content: The main content of the page; either shows recipe or pantry info  */
.content {
  flex: 1;
  padding-left: 3rem !important;
  overflow-y: scroll;
  color: #4e4e4e;
}
/* .hidden.content: The content of the page that should not be shown */
.hidden.content {
  display: none;
}
/* .content (Mobile): In mobile, if the content is visible, it shouldn't have left padding */
@media (max-width: 600px) {
  .content {
    padding-left: 0rem !important;
  }
  .mobile-hidden.content {
    display: none !important;
  }
}
/* .content .heading: The text for the name of a recipe or pantry item */
.content .heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
/* .content .subheading: The text for Ingredients and Directions and Nutrition */
.content .subheading {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 100;
}
/* .content .copy-button: Button to copy subcontent to header */
.content .subheading .copy-button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  margin: 0.3rem 1rem 0 1rem;
  color: grey;
  font-size: 0.5rem;
  transition: 0.15s;
}
.content .subheading .copy-button:focus {
  outline: none;
  border-color: grey;
  color: #4e4e4e;
}
/* .content .subcontent: The text underneath each .subheading */
.content .subcontent {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
.subcontent li {
  margin-bottom: 0.25rem;
  list-style: "- ";
}
.subcontent li.no-bullet {
  list-style: " ";
}
.subcontent td {
  padding-right: 2rem;
}

/* .content ul: The bulleted lists in the bodies (i.e. for Directions and Nutrition) */
.content ul {
  padding-inline-start: 20px;
}
/* .recipe #clipboard-data...: Dummy textarea used for copying to clipboard; make sure it's hidden */
.recipe #clipboard-data-ingredients,
.recipe #clipboard-data-directions {
  opacity: 0.01;
  height: 0;
  position: absolute;
  z-index: -1;
}
/* .recipe .ingredient-category: The names of the ingredient categories, if a recipe's ingredient list has categories */
.recipe .ingredient-category {
  padding-top: 1rem;
  font-weight: 800;
}
/* .recipe .calorie-column: The column in recipe's ingredient table with calorie vaules */
.recipe .calorie-column {
  padding-right: 0.5rem;
}

/* pantry .calculator: Each measurement to gram conversion calculator for a pantry item */
.pantry .calculator {
  margin: 0.25rem 0;
}
/* pantry .calculator input: Input box for the pantry item conversion calculators */
.pantry .calculator input {
  margin-right: 0.5rem;
  text-align: right;
  padding: 2px 12px;
  width: 50px;
  border: 1px solid lightgrey;
  transition: 0.2s;
}
.pantry .calculator input:focus {
  outline: none;
  border-color: grey;
}
